# Зависимости, которые устанавливаются на сервере
/node_modules

# Логи
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Файлы переменных окружения
.env

# Системные файлы macOS
.DS_Store

# ВАЖНО: Игнорируем только конкретный файл с секретным ключом, а не все .json файлы
firebase-service-account.json
